<!DOCTYPE html>
<html>
<head>
  <title>Storehouse Food Pantry</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
	<body>
    <div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%=key.to_s%>" role="alert">
      <%= value  %>
    </div>
  <% end %>
</div>
	<%= render 'layouts/header'%>

  <% unless @active_home == 'active'%>

  <div class="container sides content-wrapper"> 

    <%= yield %>
     <%= render 'layouts/footer'%>
  </div>

  <%else%>
      <%= yield %>


  <% end %>

   

	</body>
</html>
